*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(240, 14%, 7%);
    font-size: 15px;
}

.container{
    position: fixed;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 8% 25%;
    border-radius: 15px;
    background-color: hsl(240, 14%, 11%);   
     color: white;
}

.but{
    align-self: center;
}

.buttonGroup{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 7%;
    
    
}

.review-button{
    border-radius: 50%;
    height: auto;
    background-color: hsl(220, 12%, 13%);
    color: white;
    border: 0;
    width: 6vh;
    height: 6vh;
    font-size: x-small;
    cursor: pointer;

    
    
}

#submitButton{
    margin-top: 7%;
    margin-left: 7%;
    margin-bottom: 7%;
    border-radius: 20px;
    color: white;
    background-color: hsl(25, 97%, 53%);
    width: 87%;
    border: none;
    font-weight: bold;
    height: 5vh;
    cursor: pointer;

}

#submitButton:hover{
    background-color: hsl(25, 97%, 70%);
    transition: 0.5s;
}



.review-button:hover{
    background-color: hsl(244, 15%, 32%);
    transition: 0.5s;
}

.review-button.clicked{
    background-color: green;
}

/*@media screen and (max-width: 1440px){
    .container {
        width: 40%;
        height: 60vh;
        align-self: center;

    }

    .review-button{
        width: 50px;
        height: 50px;
    }
}


*/
  @media screen and (max-width: 600px){
        .container{
            align-self: center;
            width: 100%;
            height: auto;

        }

    



    
    
}



.star{
    background-color: hsl(220, 12%, 8%); 
    margin-top: 7%;
    height: 20px;
    width: 8%;
    border-radius: 50%;
    margin-left: 7%;
    border: none;
    font-size: larger;
    color: hsl(25, 97%, 53%);
    background-color: hsl(220, 12%, 13%);
    padding: 1vh 1vh;
}

h2{
   margin-left: 7%;
   margin-top: 7%;
    
}

p{
    margin-top: 7%;
    margin-left: 7%;
}